body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(14, 14, 184, 0.744);
}

#Navbar {
  font-family: "Poller One", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: darkblue;
  color: white;
  align-items: center;
  padding: 0px 50px;
}

.routines{
  border: 3px solid black;
  width: fit-content;
  background-color: lightblue;


}
.routineBox {
  border: 1px solid purple;
  background-color: grey;
  padding: 10px;
  margin: 30px 30px;
  border-radius: 10px;
}

.routineInfo {
  border: 1px solid blue;
  background-color: lightskyblue;
  padding: 10px;
  margin: 10px;
}

.activity{
  border: 1px solid green;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
}
