body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(188,183,184);
}

#Navbar {
  font-family: "Poller One", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 20%;
  height: 100px;
  min-height: 50px;
  /* background-color: darkblue; */
  background-image: url(https://t3.ftcdn.net/jpg/03/10/03/80/240_F_310038000_9fWHEsZ6CfOH9XkwVdQceCEWC7j1SeIS.jpg);
  /* background-image: url(https://images.pexels.com/photos/841135/pexels-photo-841135.jpeg?auto=compress&cs=tinysrgb&w=600); */
  background-size: cover;
  color: white;
  align-items: center;
  padding: 0px 50px;
}

#Footer {
  background-color: rgb(91,92,100);
}

.fitnessTracker{
  color: black;
  font-family: Copperplate;
  font-size: 40px;
  -webkit-text-stroke-width: .8px;
  -webkit-text-fill-color: white;
}

.routines{
  width: fill;
  align-items: center;
}
.routineBox {
  border: 1px solid rgb(76,80,82);
  background-color: grey;
  padding: 10px;
  margin: 30px 30px;
  border-radius: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.routineInfo {
  border: 1px solid rgb(91,100,99);
  background-color: rgba(176, 180, 180, 0.598);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height:max-content;
  width: 300px;
}
select{
  max-width: 270px;
}
.activity{
  border: 1px solid #939c96;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.activityBox{
  display: flex;
  flex-flow: nowrap;
}

.editBox{
  width: 450px;
}

.noActivity{
  border: 1px solid #939c96;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-self: baseline;
}

.buttonGroup{
  display: flex
}

.navButton{
  background-color: rgb(188,183,184);
  border-radius: 5px;
  margin: 2px;
  opacity: .8;
}

.button,
Button{
  background-color: rgb(188,183,184);
  border-radius: 5px;
  margin: 2px;
  opacity: .8;
}

.message{

  border-radius: 5px;
  margin: 5px;
  width: fit-content;
}

.registerForm{
  padding: 5px;
  margin: 5px
}

.registerPage{
  padding: 5px;
  margin: 5px;
}

.homePage{
  padding: 5px;
  margin: 5px;
}

.homeHeader{
  text-align: center;
  font-family: Copperplate;
  font-size: 25px;
}

.searchBar{
margin: 5px;
padding: 5px;
background-color: #252c2e;
border: 2px solid #1a1a20;
color: #bcb7b8;
font-family: Copperplate;
font-size: 15px;
}

.searchInput{
  width: 400px;
}

.activityPage{
  display: flex;
  flex-direction: row;
}
