body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(188, 183, 184);
}

#Navbar {
  font-family: "Poller One", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 20%;
  height: 100px;
  min-height: 50px;
  background-image: url(https://t3.ftcdn.net/jpg/03/10/03/80/240_F_310038000_9fWHEsZ6CfOH9XkwVdQceCEWC7j1SeIS.jpg);
  background-size: cover;
  color: white;
  align-items: center;
  padding: 0px 50px;
  z-index: 5;
}

#Footer {
  background-color: rgb(91, 92, 100);
}

#divBox{
  padding: 5px;
}

.fitnessTracker {
  color: rgb(40, 246, 125);
  font-family: Copperplate;
  font-size: 40px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-fill-color: rgb(19, 139, 15);
}

.routines {
  width: fill;
  min-width: fit-content;
  align-items: center;
}
.routineBox,
.activityBox {
  border: 1px solid rgb(76, 80, 82);
  background-color: grey;
  padding: 10px;
  margin: 30px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routineInfo,
.activityInfo {
  border: 1px solid rgb(91, 100, 99);
  background-color: rgba(176, 180, 180, 0.598);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: max-content;
  min-width: 300px;
  max-width: fill-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.createBox{
  border: 1px solid rgb(76, 80, 82);
  background-color: grey;
  padding: 10px;
  margin: 30px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.createMessage{
background-color: rgb(19, 139, 15);
padding: 5px;
width: fit-content;
border-radius: 9px 0px;
}

.createBackground{
  background-color:#a9a4a5;
  border-radius: 10px 70px 70px 10px;
}

.createInput{
  display: flex;
  flex-direction: column;
}

.createButton{
  background-color: rgb(188, 183, 184);
  border-radius: 5px;
  margin-bottom: auto;
  margin-top: auto;
  opacity: 0.8;
}

.input{
  min-width: 300px;
  max-width: 500px;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.creatorName {
  text-decoration: underline;
  color: darkblue;
}

.routineName {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  background-color: rgb(24, 172, 19);
  width:fit-content;
  padding: 5px;
  border-radius: 10px 0px;
  border: 5px outset rgb(19, 139, 15)
}

.activityName {
  font-weight: bold;
  background-color: rgba(19, 139, 15, 0.262);
  border-left: 10px solid rgb(19, 139, 15);
}

.routineId {
  font-family: Copperplate;
  color: rgb(19, 139, 15);
  font-size: 17px;
}

.routineSelect{
  width: 80px;
  margin-left: 5px;
}

.activityId {
  font-family: Copperplate;
  color: rgb(18, 100, 52);
}

.countDuration {
  display: flex;
}
.duration{
  padding-right: 5px
}

.count{
  padding-left: 5px;
}

select {
  max-width: 270px;
}

.activities {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  max-width: 2000px
}

.activity {
  border: 1px solid #939c96;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.activityEditBox {
  border: 1px solid #939c96;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.editBox,
.activityEditBox {
  width: 450px;
}

.noActivity {
  border: 1px solid #939c96;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-self: baseline;
}

.buttonGroup {
  display: flex;
}

.navButton:active,
.newButton:active {
  transform: scale(1, 1);
  box-shadow: 1px 1px 5px rgb(119, 246, 172);
}

.navButton:hover,
.newButton:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 5px rgb(40, 246, 125);
}

.navButton {
  background-color: rgb(188, 183, 184);
  border-radius: 5px;
  margin: 2px;
  opacity: 0.8;
}

.newButton{
  padding: 4px;
  margin: 10px;
}

.button,
Button {
  background-color: rgb(188, 183, 184);
  border-radius: 5px;
  margin: 2px;
  opacity: 0.8;
}

.message {
  border-radius: 5px;
  margin: 5px;
  width: fit-content;
}

.registerForm {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.registerPage {
  padding: 5px;
  margin: 5px;
}

.homePage {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.homeHeader {
  background-color: rgb(76, 80, 82);
  color: #939c96;
  text-align: center;
  font-family: Copperplate;
  font-size: 30px;
}

.homeBody {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 25px;
}

.homeDiv{
  background-color: rgb(76, 80, 82);
  height: 100px
}

#homeWords{
  display: flex;
  justify-content: center;
  padding: 45px;
  color: #939c96;
}

#homeImgDiv{
  display: flex;
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
max-height: 40%;
height: 700px;
min-height: 50%;
background-image: url(https://images.pexels.com/photos/7031706/pexels-photo-7031706.jpeg?auto=compress&cs=tinysrgb&w=1600);
background-size: cover;
}

.success,
.encourage{
  background-color:rgba(24, 172, 19, 0.616);
  /* border:5px solid rgb(14, 104, 11); */
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 100px;
  width: 300px;
  margin: 50px auto;
  text-align: center;
  font-weight: 900;
  color: white;
  position: relative;
  
}

.success{
  align-self: flex-end;
  /* border-radius: 0px 30px 30px 30px; */
}

/* .encourage{
  border-radius: 30px 30px 0px 30px;
} */

.benefits {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.Benefits {
  text-align: center;
}

.highFiveImg {
  padding: 20px;
  margin: 20px;
  background-color: darkgray;
  height: 300px;
  display: flex;
  border: 10px double rgb(118, 116, 116)
}

img{
  border:2px solid #252c2e;
}

.searchBar {
  margin: 5px;
  padding: 5px;
  background-color: #252c2e;
  border: 2px solid #1a1a20;
  color: #bcb7b8;
  font-family: Copperplate;
  font-size: 15px;
}

.searchInput {
  width: 400px;
}
